.navHeader{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: aquamarine;
    top: 0%;
    z-index: 10;
    >h1{
        font-family: cursive;
    }
    main{
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
    a{
        color: black;
        margin: 1rem;
        &:hover{
            color: red;
        }
    }



}