.home{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    border-radius: 0 0 100px 100px;
    main{
        position: absolute;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        padding: 2rem;
        justify-content: center;
    h1{
        font: 400 6rem;
    }
    p{
        font: 900 1rem purple;
    }
}
    &::before{
        content:"";
        width:100%;
        height: 100%;
        position: absolute;
        background: no-repeat center/auto url("../web-pics/diary.jpeg");
        filter: blur(1px);
    }
}
.home2 {
    width: 100%;
    height: 100vh;
    padding: 500px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;
  
    > img {
      width: 30%;
      animation: imgUp 0.7s linear infinite alternate;
    }
  
    > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem;
      height: 100vh;
      p {
        color: black;
        letter-spacing: 2px;
        word-spacing: 5px;
        font: 100 1.2rem;
        color: aqua;
      }
    }
  }
  @keyframes imgUp {
    to {
      transform: translateX(-10px);
    }

  }
  .write-us{
    display: inline-block; /* Ensures the border wraps only the text */
    border: 2px solid transparent; /* Initially, the border is invisible */
    transition: border-color 0.3s ;
    background-color: lightgreen;
    border-radius: 20px 20px 20px 20px;
  &:hover {
    border-color: #3498db; /* Change to the desired border color on hover */
  }
}